.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.lista-suspensa select {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  padding: 24px;
  box-sizing: border-box;
}

/* Celulares pequenos (até 480px) */
@media (max-width: 480px) {
  .lista-suspensa label {
    font-size: 16px;
  }

  .lista-suspensa select {
    font-size: 16px;
    padding: 16px;
  }
}

/* Celulares médios e maiores (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .lista-suspensa label {
    font-size: 18px;
  }

  .lista-suspensa select {
    font-size: 18px;
    padding: 18px;
  }
}

/* Tablets (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .lista-suspensa label {
    font-size: 20px;
  }

  .lista-suspensa select {
    font-size: 20px;
    padding: 20px;
  }
}
